:root {
    --main-cursor: url(../images/cursors/cursor.svg);
    --corsshair-cursor: url(../images/cursors/crosshair.svg);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: var(--main-cursor) 12 12, auto;
}

/* Általános */
.content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}
/*---------*/

/* Torpedó */
.draggable-ship {
    width: 100px;
    height: 40px;
    background-color: steelblue;
    margin: 5px;
    color: white;
    text-align: center;
    cursor: grab;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 1px;
    width: 385px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: var(--corsshair-cursor) 12 12, auto;
}

.ship {
    background-color: green;
}

.hit {
    background-color: red;
}

.miss {
    background-color: gray;
}

#shot-log {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px; width: 300px;
    margin: 0 auto;
    text-align: left;
}

.ship-image {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: transform 0.3s ease; /* nice smooth rotation! */
    pointer-events: none; /* <--- important!! */
}

/*-----A hajót tratalmazó cellák és a képek elrejtése és felefedése ( még nincs kész :( ) ----*/
.ship-hidden {
    background-color: lightblue;
}

.ship-image-hidden {
    opacity: 0;
}

.ship-image-visble {
    opacity: 1;
}
/*---------*/

.grid-wrapper {
    position: relative;
}
/*---------*/